.container{
   width: 100%;
   height: 200px;
   // padding: 20px 0;
   display: flex;
   align-items: center;
   background-image: url(../img/vector.svg);
   background-repeat: no-repeat;
   background-size: cover;
   overflow-x: hidden;
}
.menu{
   width: 100%;
   height: min-content;
   padding: 10px 5px;
   display: flex;
   align-items: center;
   overflow-x: scroll;
   &::-webkit-scrollbar{
   width: 7px;
   height: 5px;
}
&::-webkit-scrollbar-thumb{
   width: 7px;
   height: 5px;
   border-radius: var(--border-radius);
   background: var(--background-color);
 }
 &__card{
    width: 45vw;
    margin: 0 5px;
    flex-shrink: 0;
    min-width: 105px;
    max-width: 205px;
    border: 1px solid #000;
    border-radius: var(--border-radius);
    box-sizing: border-box;
    line-height: 0;
    cursor: pointer;
    box-shadow: var(--box-shadow);
    &:hover{
      transform: scale(1.05) translateY(-5px);
      transition: transform .3s;
    }
   }
   &__img{
      width: 100%;
      border-radius: var(--border-radius);
 }   
}
.active{
   transform: scale(1.05) translateY(-5px);
   transition: transform .3s;
}