:root{
    --background-color: #F8F9FA;
    --dark-color: #313030;
    --text-color: #fff;



    --border-radius: 10px;



    --title-size: clamp(.9rem, 5.7vw, 2rem);
    --text-size: clamp(.8rem, 3vw, 0.95rem);
    
    --title-size-big: clamp(1.5rem, 4.3vw, 2.2rem);
    --text-size-big: clamp(.9rem, 2.7vw, 1.05rem);



    --box-shadow: 4px 4px 8px 0px rgba(49, 48, 48, .4);



}