.certificates{
    height: 100vh;
    overflow-y: auto;
    display: grid;
    grid-template-rows: repeat(2,1fr);
    align-items: flex-end;
    gap: 18px;
    box-sizing: border-box;
}

@mixin desktop-certificates{
    .certificates{
        grid-template-columns: 1.12fr 0.88fr;
        grid-template-rows: 1fr ;
        align-items: center;
        background-image: url(../svg/vector2.svg);
        background-repeat: no-repeat;
        background-position: right;
        gap: 15px;
    }
}